/slprj
/MainModel_ert_rtw
/MainModel.bin
/MainModel.elf
/MainModel.hex
/MainModel.slxc
/MainModel_WorkingVVI_ert_rtw
/MainModel_WorkingVVI.bin
/MainModel_WorkingVVI.elf
/MainModel_WorkingVVI.hex
/MainModel_WorkingVVI.slxc